.App {
  text-align: center;
}

.App-header {
  background-color: #44444C;
  .logo {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #D6D6D6;
  }
}

.App-body {
  background-color: #D6D6D6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0B0909;

  .DatePicker-Scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Date-Picker {
      max-width: min-content;
      padding-bottom: .25em;
      color: #0B0909;
    }
    
    .ScoreBoard {
      align-self: center;
      
      .table {
        .table-head {
          position: sticky; top: 0;
          background-color: #44444C;
          .header-cell {
            color:#D6D6D6;
          }
        }
      
        .table-body {
          background-color: #8C8C8C;
          
          .body-cell {
            color: #0B0909;
          }
        }
      }
    }
  }
}


.me-1{ margin-right:.25rem }
.me-2{ margin-right:.5rem }
.ms-1{ margin-left:.25rem }
.ms-2{ margin-left:.5rem }
.team-logo { height: 24px; vertical-align: middle; }
